body{
  background-color: rgb(240, 240, 240);
  font-family: 'Antic Didone', serif;
}

h1, h2 {
  font-weight: 300;
}
h1{
  color: #0F084B
}
h2{
  color: #26408B
}

a{
  font-weight: bold;
}

img {
  image
}
