.container {
    width: 95%;
    margin: 6em auto;
    background-color: black;
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    max-width: 1080px;
}

img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}

.item{
    display: inline-block;
    background: #fff;
    padding: 1.5em;
    margin: 0 0 1.5em;
    width: 80%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 3px;
    display: inline-block;
    margin: 0 0 3em;
    width: 30%;
}

.img-circle {
    border-radius: 50%;
    width: 40px;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em;
    font-size: .85em;
    display: flex;
    justify-content: space-between;
}

.flexboxstuff {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-BUY {
    color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: bold;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.stars {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.title {
  color: white;
}

.stars, .hearts {
  font-size: 40px;
  color: black;
}

.username {
  font-size: 20px;
}

.fa-star {
  color: black;
}
























